# Copy this file to .env in repository root when using docker-compose.gateway.yml with ngrok profile.
# docker compose --env-file .env --profile ngrok -f docker-compose.gateway.yml up -d --build

NGROK_AUTHTOKEN=your_ngrok_token_here
LOCALSTACK_AUTH_TOKEN=your_localstock_token_here